@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>@ViewBag.time</h1>

<address ng-app="app" ng-controller="testctrl">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<script src="~/Scripts/angular.js"></script>
<script>
    var app = angular.module("app", []);
    app.controller("testctrl", function ($scope, $http) {
        $http.get("./GetList").then((res) => {
            alert(res.data.list);
        }, (err) => {
            console.log(err);
            });
    });
</script>